.infoContainer {
  background-color: white;
  border-radius: 12px 12px 0 0;
  -webkit-mask: radial-gradient(circle at left bottom, #0000 16px, red 0), radial-gradient(circle at right bottom, #0000 16px, red 0);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  border-bottom: 1px dashed #f0f0f0;
}
.priceContainer {
  background-color: white;
  border-radius: 0 0 12px 12px;
  -webkit-mask: radial-gradient(circle at left top, #0000 16px, red 0), radial-gradient(circle at right top, #0000 16px, red 0);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}
